---
layout: default
---

<h1>{{ page.title }}</h1>
<span>Category: {{ page.categories[0] }}</span>

{% if page.image %}
  <img src="/assets/img/{{ page.image }}">
{% endif %}

{% if page.toc %}
<div class="toc-container">
  <h2 id="toc-title" class="toc-title">목차</h2>
  {{ content | toc_only }}
</div>
{% endif %}

{{ content }}

<span class="post-date">
  {{ site.data.settings.post_date_prefix }}
  {% assign d = page.date | date: "%-d"  %}
  {{ page.date | date: "%B" }}
  {% case d %}
    {% when '1' or '21' or '31' %}{{ d }}st
    {% when '2' or '22' %}{{ d }}nd
    {% when '3' or '23' %}{{ d }}rd
    {% else %}{{ d }}th{% endcase %},
  {{ page.date | date: "%Y" }}
  by
  {% if page.author %}
    {{ page.author }}
  {% else %}
    {{ site.author }}
  {% endif %}
</span>

{% include social-sharing.html %}

{% include related-posts.html %}

{% if site.data.settings.disqus.comments %}
  {% include disqus.html %}
{% endif %}
